body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333333;
}
#intro-screen {
    background-image: url('images/background.png');
    background-repeat: repeat-y;
    background-size: 900px auto;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    padding-top: 50px;  /* Add padding to accommodate the top wall */
    padding-bottom: 50px;  /* Add padding to accommodate the bottom wall */
}

#intro-screen::before,
#intro-screen::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    background-image: url('images/wall.png');
    background-repeat: repeat-x;
    background-size: 50px 50px;
}

#intro-screen::before {
    top: 0;
}

#intro-screen::after {
    bottom: 0;
}

#intro-screen h1 {
    color: #FFD700; /* Kultainen väri */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 10px 0;
}

.control-option {
    margin-top: 20px;
    text-align: left;
    color: white;
}

#intro-screen h1, #intro-screen h2, #intro-screen h3, #intro-screen p {
    background-color: transparent; /* Poistetaan tausta */
    padding: 10px;
    margin: 10px 0;
}

.monster h3 {
    color: #000;
    font-size: 1.2em;
    margin: 10px 0;
}

.monster p {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin: 10px 0;
}

.monster {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    text-align: left;
}

/* Kavennetaan tekstiblokkeja */
.monster, #monster-selection, .control-option, #new-game-btn {
    margin-top: 20px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes monsterFloat {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.monster img {
    width: 50px;
    height: 50px;
    margin-right: 20px; /* Lisätään oikean puolen marginaalia */
    /* margin-left: 20px;  */
    /* Lisätään vasemman puolen marginaalia */
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: 50px; /* Move the image down */

    /* transition: transform 0.5s ease; */
}

.monster img.floating {
    animation: monsterFloat 2s ease-in-out infinite;
}

.monster-info {
    flex-grow: 1;
}

.monster-info h3 {
    margin-top: 0;
    margin-bottom: 5px; /* Reduce space between name and description */
    color: #FFD700;
}

.monster-info p {
    margin-top: 0; /* Poistetaan ylämarginaali */
}

#game-screen {
    display: none;
}

#control-buttons {
    margin-top: 20px;
}

#control-buttons button {
    margin: 5px;
    padding: 10px;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#game-board {
    display: grid;
    gap: 0px;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: -4px -4px;
    background-position: center;
    width: 900px;
    height: 900px;
    margin-bottom: 20px;
    border: 2px solid #333;
    padding: 0px;
    background-color: rgba(221, 221, 221, 0.8);
}

#game-info {
    display: flex;
    justify-content: space-between;
    color: #b6883d;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin: 10px 0;
}

#control-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.horizontal-buttons {
    display: flex;
    gap: 60px;
}

#down-btn {
    margin-right: 120px; /* Lisätään iso väli alas- ja vasemmalle-näppäinten väliin */
}


.right-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#up-btn, #down-btn, #left-btn, #right-btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
}

#up-btn {
    margin-bottom: 10px;
}

#new-game-btn {
    background-color: black;
    color: white;
    margin-left: 20px; /* Sama sisennys kuin monsterin kuvilla */
    align-self: flex-start; /* Asetetaan nappula vasempaan reunaan */
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}


#new-random-game-btn, #restart-game-btn, #back-to-intro-btn {
    display: block;
    margin-top: 20px;
    padding: 20px 20px;
    font-size: 16px;
    background-color: #8d6a2f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button {
    display: block;
    margin-top: 20px;
    padding: 20px 20px;
    font-size: 16px;
    background-color: #8d6a2f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button:hover {
    background-color: #b6883d;
}


#new-random-game-btn:hover, #restart-game-btn:hover, #back-to-intro-btn:hover {
    background-color: #b6883d;
}

button_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    font-weight: bold;
    font-size: 96px;
    margin: 10px;
    padding: 20px 20px;
    background-color: #8d6a2f;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button_arrow:hover {
    background-color: #b6883d;
}


h1 {
    margin-bottom: 20px;
    color: #333;
}

#status-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}


.cell {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wall {
    background-image: url('images/wall.png');
    width: 50px;
    height: 50px;
    background-size: cover;
}

.wall-container {
    /* border: 10px solid transparent; */
    /* border-image: url('images/wall.png') 50 round; */
    /* padding: 20px; */
    width: 100%;
    box-sizing: border-box;
}


.player {
    background-image: url('images/player.png');
    background-size: cover;
}

.box {
    background-image: url('images/box.png');
    background-size: cover;
}

.target {
    background-image: url('images/target.png');
    background-size: cover;
}

.alien {
    background-image: url('images/alien.png');
    background-size: cover;
}

.horny {
    background-image: url('images/horny.png');
    background-size: cover;
}

.ghost {
    background-image: url('images/ghost.png');
    background-size: cover;
}

.sleepy {
    background-image: url('images/sleepy_passive.png');
    background-size: cover;
}

.body {
    background-image: url('images/body.png');
    background-size: cover;
    width: 100px;
    height: 100px;
}

.plague {
    background-image: url('images/plague.png');
    background-size: cover;
}

.box-on-target {
    background-image: url('images/box2.png');
    background-size: cover;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#monster-selection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#monster-selection h2 {
    margin-bottom: 10px;
}

.monster-checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.monster-checkbox {
    margin-right: 20px;
    margin-bottom: 10px;
}

.monster-checkbox select {
    margin-top: 5px;
}

.monster-checkbox label {
    color: black;
}

#win-message {
    margin-top: 5px;
    font-weight: bold;
    color: #b6883d;
}